* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.header, .contents, .footer {
    padding: 20px;
    /* border: 2px solid red; */
}

.website {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.contents {
    flex-grow: 1;
}

.header ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.header ul a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E6EB;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.awesome-website-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    gap: 50px;
    background-color: #1F2937;
    padding: 30px;
}

.main-image {
    height: 300px;
    width: auto;
}

.left {
    height: 300px;
    width: 400px;
    flex-shrink: 0;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sign-up-button {
    width: 100px;
    height: 50px;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
}

.awesome-website-content .left h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.awesome-website-content .left p {
    color: #F9FAF8;
    font-size: 18px;
}

.contents {
    padding: 0;
}

.bordered-div {
    border: 6px solid #3882F6;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.some-random-information-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 30px;
    text-align: center;
}

.random-info-cards-texts {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.info-content {
    width: 200px;
}

.subtext {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 18px;
    color: #1F2937;
    font-weight: 500;
}